@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Scripts {
    
    <script type="module">
        import  'https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js';
        const tablebody = document.querySelector("#tablebody");
        const templatetr = document.querySelector("#templatetr");
        const connection = new signalR.HubConnectionBuilder().withUrl("ObserverHub").withAutomaticReconnect().build();
        async function init() {
            connection.on("ConnectedAsync", a => {
                tablebody.insertAdjacentHTML("beforeend", bindTR(a));
            });
            connection.on("DisconnectedAsync", a => {
                tablebody.querySelector(`[cid="${a}"]`).remove();
            });
            await connection.start();
            const list = await connection.invoke("GetConnectedAllAsync");
            tablebody.innerHTML = "";
            list.forEach(a => {
                tablebody.insertAdjacentHTML("beforeend", bindTR(a));
            });
        }
        function bindTR(item) {
            return templatetr.innerHTML.replace(/\{\{(.+?)\}\}/g, (a, g, i, n) => {
                return eval(`(${g})`) || "";
            });
        }
        await init();
    </script>
}
<div class="text-center">
    <h1 class="display-4">已连接的端</h1>
    <table class="table table-info">
        <thead>
            <tr>
                <th>名称</th>
                <th>分组</th>
                <th>id</th>
                <th>ip</th>
                <th>端口</th>
            </tr>
        </thead>
        <tbody id="tablebody">
            
        </tbody>
    </table>
</div>
<script type="text/template" id="templatetr">
    <tr cid="{{item.connectionId}}">
        <td>{{item.identityInfo.clientName}}</td>
        <td>{{item.identityInfo.groupName}}</td>
        <td>{{item.connectionId}}</td>
        <td>{{`${(item.ip&0xff)}.${(item.ip>>8&0xff)}.${(item.ip>>16&0xff)}.${(item.ip>>24&0xff)}`}}</td>
        <td>{{item.port}}</td>
    </tr>
</script>